<div class="grid-item {{certification.difficulty}} more2h html" id="{{certification.id}}">
  <div class="card card-certifications shadow sidebarCollapse ">
    <img class="card-img-top card-img-certifications" src="img/cards/card_1.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{certification.title}}</h4>
      <p class="card-text">
        Difficulté : <span class="span-difficulty">{{certification.difficulty}}</span>
        <span><i class="fas fa-map-marker-alt place-icon-color-offers" aria-hidden="true"></i></span>
      </p>
      <p class="card-text">
        Durée : <span class="span-timeout">{{certification.timeout}}</span>
        <span><i class="fas fa-file-signature contract-icon-color-offers" aria-hidden="true"></i></span>
      </p>
      <p class="card-text">
        Catégorie : <span>HTML</span>
        <span><i class="fas fa-file-signature contract-icon-color-offers" aria-hidden="true"></i></span>
      </p>
    </div>
  </div>
</div>
